<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@0.5.7/chartjs-plugin-annotation.min.js" 
	  integrity="sha256-Olnajf3o9kfkFGloISwP1TslJiWUDd7IYmfC+GdCKd4=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>ホーム画面</h1>
    <form action="/score" method="post">
        <input type="date" name="date" placeholder="取組日">
        <input type ="number" name="score" placeholder="score">
        <input type="submit" value="登録">
    </form>
    <h3>目標値</h3>
    <p>目標値：<%= @user.goal %></p>
    <form action="/goal" method="post">
      <input type="number" name="goal" placeholder="目標値">
      <input type="submit" value="登録">
    </form>
    <% @scores.each do |score|%>
        <% if score.user_id == @user.id %>
          <% score_month = score.date.month %>
          <% score_day = score.date.day %>
          <% day = score_month.to_s + "-" + score_day.to_s %>
          <% @chart_score.push(score.score) %>
          <% @chart_date.push(day) %>
          <p><%= score.date %></p>
          <p><%= score.score %></p>
        <% end %>
    <% end %>
    <%= @chart_date %>
    <%= @chart_score %>
    <p><%= @now_year %></p>
    
    <script>
      window.onload = function () {
        let context = document.querySelector("#score_chart").getContext('2d')
        new Chart(context, {
          type: 'line',
          data: {
            labels: <%= @chart_date %>,
            datasets: [{
              label: "Score",
              data: <%= @chart_score %>,
              backgroundColor: '#dc143c',
              borderColor: "#ffb6c1",
              lineTension: 0,
              fill: false, 
              fontSize: 18,
            }],
          },
          options: {
            responsive: false,
            scales: {
                yAxes: [{
                    ticks: {
                        max: <%= @user.goal %> +1000, // y軸メモリの最大値
                    }
                }],
                xAxes: [{
                  ticks: {
                  autoSkip: true,
                  maxTicksLimit: 5, //値の最大表示数
                  }
                }],
            },
            annotation: {
                    drawTime: 'afterDatasetsDraw',
                    annotations: [
                        {
                            id: 'hline',
                            type: 'line',
                            mode: 'horizontal',
                            scaleID: 'y-axis-0',
                            value: <%= @user.goal %>, // 横線の値
                            borderColor: 'black',  //横線の色
                            borderWidth: 2,
                            label: {
                              enabled: true,
                              content: <%= @user.goal.to_s %>, // 横線に入れる文字
                              position: 'left', // 横軸ラベルの場所
                              bordercolor: 'rgba(0,0,0,0)', // ラベルの色
                            },
                        },
                    ]
                }
          }
        })
      }
    </script>
    <canvas class="chart" id="score_chart" width="800" height="500"></canvas>
</body>
</html>